.programGrid{
    width: 100%;
    grid-area: programGrid;
    padding: 0 .5%;
    overflow: hidden;
    position: relative;
    --slide: 33.3%
}

.programGrid button{
    position: absolute;
    width: 20px;
    opacity: 0;
    z-index: 3;
    transition: .6s ease-in-out;
}

.programGrid:hover button{
    opacity: .7;
}

.programGrid:hover button:hover{
    opacity: 1;
}

.programGrid button .chevronIcon{
    width: 100%;
    fill: var(--lightBlue);
}

.programGrid .chevronLeft{
    left: 0px;
    top: 50%;
}

.programGrid .chevronRight{
    right: 0px;
    top: 50%;
}

.programGrid .contentDays{
    display: flex;
    width: 100%;
    gap: 3.3%;
    justify-content: flex-start;
    transition: .6s ease-in-out;
}

.programGrid .gridDay{
    min-width: 30%; 
    margin-bottom: 8px;
}

.programGrid .gridDay > h6{
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 36px;
}

.programGrid .gridDay .program{
    display: flex;
    width: 100%;
    position: relative;
}

.programGrid .gridDay .program{
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    hyphens: manual;
    text-align: center;
    color: var(--black);
}

.programGrid .gridDay .program .hour{
    width: 30%;
    color: var(--lightBlack);
    font-size: 16px;
    font-weight: 500;
    opacity: .8;
}

.programGrid .gridDay .program .name{
    width: 50%;
    margin-top: -6px;
    font-size: 14px;
    font-weight: 500;
}

.programGrid .gridDay .program .circle{
    position: relative;
    z-index: 2;
    width: 16px;
    height: 16px;
    margin: 0  calc(10% - 8px);
    border-radius: 100%;
    border: 5px solid var(--lightBlue);
}

.programGrid .gridDay .program .line{
    height: calc(100% - 15px);
    width: 2px;
    background-color: var(--lightBlack);
    position: absolute;
    left: calc(40% - 1px );
    top: 16px;
    z-index: 1;
}

.programGrid .gridDay .program:last-child::after{
    content: '';
    position: absolute;
    z-index: 3;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: var(--white);
    border: 5px solid var(--lightBlue);
    bottom: -1px;
    left: calc(40% - 8px );
}

@media (max-width: 1024px){
    .programGrid{
        margin: 36px auto;
    }

    .programGrid button{
        opacity: 1;
    }
}

@media (max-width: 768px){
    .programGrid{
        padding: 0 2%;
        --slide: 50%

    }
    .programGrid .contentDays{
        gap: 4%;
    }
    .programGrid .gridDay{
        min-width: 47%; 
    }
}

@media (max-width: 640px){



}

@media (max-width: 420px){
    .programGrid{
        padding: 0 5%;
        --slide: 100%

    }
    .programGrid .contentDays{
        gap: 5%;
    }
    .programGrid .gridDay{
        min-width: 95%; 
    }
}