.programGrid{
    grid-area: programGrid;
    padding: 0 .5%;
    overflow: hidden;
    position: relative;
}

.programGrid button{
    position: absolute;
    width: 24px;
    opacity: 0;
    transition: .6s ease-in-out;
}

.programGrid:hover button{
    opacity: .7;
}

.programGrid:hover button:hover{
    opacity: 1;
}

.programGrid button .chevronIcon{
    width: 100%;
    fill: var(--lightBlue);
}

.programGrid .chevronLeft{
    left: 0;
    top: 50%;
}

.programGrid .chevronRight{
    right: 0;
    top: 50%;
}

.programGrid .contentDays{
    display: flex;
    width: 100%;
    gap: 3%;
    justify-content: flex-start;
    transition: .6s ease-in-out;
}

.programGrid .gridDay{
    min-width: 30%;
    
}

.programGrid .gridDay > h6{
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 36px;
}

.programGrid .gridDay .program{
    display: flex;
    width: 100%;
    position: relative;
}

.programGrid .gridDay .program{
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    hyphens: manual;
    text-align: center;
    color: var(--black);
}

.programGrid .gridDay .program .hour{
    width: 30%;
    color: var(--lightBlack);
    font-size: 16px;
    font-weight: 500;
    opacity: .8;
}

.programGrid .gridDay .program .name{
    width: 50%;
    margin-top: -6px;
    font-size: 16px;
    font-weight: 500;
}

.programGrid .gridDay .program .circle{
    position: relative;
    z-index: 2;
    width: 16px;
    height: 16px;
    margin: 0  calc(10% - 8px);
    border-radius: 100%;
    border: 5px solid var(--lightBlue);
}

.programGrid .gridDay .program .line{
    height: calc(100% - 15px);
    width: 2px;
    background-color: var(--lightBlack);
    position: absolute;
    left: calc(40% - 1px );
    top: 16px;
    z-index: 1;
}