.homeMain .publicityImage{
    display: flex;
    overflow: hidden;
    aspect-ratio: 1/1;
}

.homeMain .publicityImage a{
    width: 100%;
    height: 100%;
}

.homeMain .publicityImage img{
    width: 100%;
    height: auto;
}

.homeMain .mainSection{
    display: grid;
    grid-template-columns: .75fr .25fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "principalSlider standarPublicity1"
                         "principalSlider standarPublicity2";
    column-gap: 12px;
    row-gap: 2%;
    width: 90%;
    margin: 12px auto;
}

.homeMain .mainSection .publicityImage a{
    width: 100%;
    height: 100%;
}

.homeMain .mainSection .publicityImage img{
    width: 100%;
    height: auto;
}

.homeMain .mainSection .publicityImage:nth-child(1){
    grid-area: standarPublicity1;
}

.homeMain .mainSection .publicityImage:nth-child(2){
    grid-area: standarPublicity2;
}


.homeMain .secondarySection{
    display: grid;
    grid-template-columns: 75fr 25fr;
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: "programGrid weatherPanel"
                         "programGrid oficialPublicity1"
                         "programGrid oficialPublicity2";
    row-gap: 12px;
    column-gap: 12px;
    width: 90%;
    margin: 128px auto;
}

.homeMain .secondarySection .publicityImage:nth-child(1){
    grid-area: oficialPublicity1;
}

.homeMain .secondarySection .publicityImage:nth-child(2){
    grid-area: oficialPublicity1;
}

@media (max-width: 1024px){
    .homeMain .mainSection{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "principalSlider principalSlider"
                             "standarPublicity1 standarPublicity2";
        width: 70%;
    }

    .homeMain .secondarySection{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "programGrid programGrid "
                             "weatherPanel weatherPanel "
                             "oficialPublicity1 oficialPublicity2";
    }
}

@media (max-width: 768px){

}

@media (max-width: 640px){
    .homeMain .mainSection{
        width: 90%;
    }

}

@media (max-width: 420px){
    .homeMain .mainSection{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "principalSlider"
                             "standarPublicity1"
                             "standarPublicity2";
        row-gap: 24px;
        width: 90%;
    }

    .homeMain .secondarySection{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "programGrid  "
                             "weatherPanel"
                             "oficialPublicity1"
                             "oficialPublicity2";
    }

    .homeMain .publicityImage{
        width: 80%;
        margin: auto;
    }
}
