body{
    background-color: var(--purple);
}

.backgroundIsotipo{
    position: absolute;
    top: -10%;
    left: -35%;
    z-index: 1;
    width: 100%;
    max-width: 1280px;
}

.container{
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 56px;
    overflow: hidden;
}

.publicitySpace{
    display: flex;
    width: 70%;
    gap: 32px;
    
}

.individualPublicity{
    width: 50%;
    height: auto;
    padding: 12px;
    background-color: #24242460;
    display: flex;
    opacity: 0;
    transition: 1.5s;
}

.publicitySpace.visible .individualPublicity{
    opacity: 1;
}
.individualPublicity img{
    width: 100%;
    height: auto;
}

@media (max-width: 1024px){

}

@media (max-width: 768px){

    .container{
        width: 100%;
    }

    .backgroundIsotipo{
        display: none; 
    }

    .weatherPanel{
        order: 1;
    }
    .streamWindow{
        order: 2;
    }
    .publicitySpace{
        order: 3;
    }
    .publicitySpace{
        width: 90%;
        flex-wrap: wrap;
    }
    .individualPublicity{
        width: 70%;
        margin: auto;
    }
}

@media (max-width: 640px){
    .individualPublicity{
        width: 90%;
        margin: auto;
    }
}