.homePage {
    padding: 5vh 0;
    position: relative;
}

.homePage__background {
    background: url('/assets/background-landing.png');
    background-position: center;
    background-attachment: fixed;
    background-color: rgb(0 128 0 / 10%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .9;
}


.homePage .sliderSection {
    display: grid;
    grid-template-columns: .73fr .27fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "principalSlider standarPublicity1"
        "principalSlider standarPublicity2";
    column-gap: 12px;
    align-items: center;
    row-gap: 2%;
}



.homePage .sliderSection .publicity:nth-child(1) {
    grid-area: standarPublicity1;
}

.homePage .sliderSection .publicity:nth-child(2) {
    grid-area: standarPublicity2;
}


.homePage .gridSection {
    display: grid;
    grid-template-columns: 75fr 25fr;
    row-gap: 12px;
    column-gap: 12px;
}


@media (max-width: 1024px) {

    .homePage .sliderSection {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "principalSlider principalSlider"
            "standarPublicity1 standarPublicity2";
    }

    .homePage .gridSection {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}

@media (max-width: 768px) {
    .homePage .gridSection {
        width: 80%;
    }

}


@media (max-width: 420px) {
    .homePage .sliderSection {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "principalSlider"
            "standarPublicity1"
            "standarPublicity2";
        row-gap: 24px;
    }


    .homePage .publicity {
        width: 80%;
        margin: auto;
    }
}