.homePage .mainSection {
    display: grid;
    grid-template-columns: .73fr .27fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "principalSlider standarPublicity1"
        "principalSlider standarPublicity2";
    column-gap: 12px;
    align-items: center;
    row-gap: 2%;
    width: 90%;
    margin: 12px auto;
}


.homePage .mainSection .publicity:nth-child(1) {
    grid-area: standarPublicity1;
}

.homePage .mainSection .publicity:nth-child(2) {
    grid-area: standarPublicity2;
}


.homePage .secondarySection {
    display: grid;
    grid-template-columns: 75fr 25fr;
    row-gap: 12px;
    column-gap: 12px;
    width: 90%;
    margin: 128px auto;
}


@media (max-width: 1024px) {

    .homePage .mainSection {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "principalSlider principalSlider"
            "standarPublicity1 standarPublicity2";
        width: 70%;
    }

    .homePage .secondarySection {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}

@media (max-width: 768px) {
    .homePage .secondarySection {
        width: 80%;
    }

}

@media (max-width: 640px) {
    .homePage .mainSection {
        width: 90%;
    }

}

@media (max-width: 420px) {
    .homePage .mainSection {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "principalSlider"
            "standarPublicity1"
            "standarPublicity2";
        row-gap: 24px;
        width: 90%;
    }


    .homePage .publicityImage {
        width: 80%;
        margin: auto;
    }
}