.mainSlider {
    position: relative;
    overflow: hidden;
    grid-area: principalSlider;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
}

.mainSlider img {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    
}

.mainSlider .imageContainer .image {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
}

.mainSlider .imageContainer {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    transition: .6s;

}

.mainSlider .chevronLeft,
.mainSlider .chevronRight {
    position: absolute;
    z-index: 2;
    opacity: 0;
    transition: .6s;
}

.mainSlider:hover .chevronLeft,
.mainSlider:hover .chevronRight {
    opacity: .7;
}

.mainSlider:hover .chevronLeft:hover,
.mainSlider:hover .chevronRight:hover {
    opacity: 1;
}

.mainSlider .chevronIcon {
    width: 22px;
    margin: 4px;
    fill: var(--white);
}

.mainSlider .chevronLeft {
    left: 8px;
}

.mainSlider .chevronRight {
    right: 8px;
}


@media (max-width: 1024px) {

    .mainSlider {
        height: auto;
    }

    .mainSlider .chevronLeft,
    .mainSlider .chevronRight {
        opacity: 1;
    }
}