.mainSlider img{
    display: flex;
    flex-shrink: 0;
    width: 100%;
    aspect-ratio: 75/52;
}

.mainSection .mainSlider{
    position: relative;
    overflow: hidden;
    grid-area: principalSlider;
    aspect-ratio: 75/52;
    display: flex;
    align-items: center;
}

.mainSection .imageContainer{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    transition: .6s;
}

.mainSlider .chevronLeft,
.mainSlider .chevronRight{
    position: absolute;
    z-index: 2;
    opacity: 0;
    transition: .6s;
}

.mainSlider:hover .chevronLeft,
.mainSlider:hover .chevronRight{
    opacity: .7;
}

.mainSlider:hover .chevronLeft:hover,
.mainSlider:hover .chevronRight:hover{
    opacity: 1;
}

.mainSlider .chevronIcon{
    width: 22px;
    margin: 4px;
    fill: var(--white);
}

.mainSlider .chevronLeft{
    left: 8px;
}

.mainSlider .chevronRight{
    right: 8px;
}


@media (max-width: 1024px){
    .mainSlider .chevronLeft,
    .mainSlider .chevronRight{
        opacity: 1;
    }
}