nav{
    display: flex;
    width: 100%;
    justify-content: center;
    z-index: 3;
    position: relative;
    padding: 16px;
}

.brand{
    width: 96px;
}

@media (max-width: 1024px){

}

@media (max-width: 768px){
    /* nav{
        background-color: var(--lightGrey);
        box-shadow: 0 10px 10px #24242430;
        padding: 12px;
        margin-bottom: 24px;
    } */
}

@media (max-width: 640px){

}
