footer{
    padding-bottom: 100px;
    position: relative;
    z-index: 2;
    transform: translateY(10%);
    opacity: 0;
    transition: 1s;
}

footer.visible{
    transform: translateX(0);
    opacity: 1;

}

footer > img{
    width: 256px;
    display: flex;
    margin: auto;
}

.socialMedias{
    display: flex;
    justify-content: center;
}


.socialMedias a{
    display: flex;
    width: 56px;
    height: auto;
    padding: 10px;
    margin: 8px 16px;
    background-color: #FFFFFF;
    border-radius: 50px;
    box-shadow: 0 0 20px #24242460;
    transition: .7s;
}

.socialMedias a:hover{
    transform: translateY(-7px);
    box-shadow: 0 7px 20px #24242460;
    transition: .7s;
}

.socialMedias a img{
    width: 100%;
    height: auto;
}