.streamWindow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    max-width: 1024px;
    background: linear-gradient(90deg, var(--purple), var(--lighthBlue));
    margin: 0px auto 56px auto;
    padding: 24px;
    z-index: 2;
    position: relative;
 
}

.streamWindow video{
    opacity: 0;
    transition: 1.5s;
}

.streamWindow video.visible{
    opacity: 1;
}

.progressBackgroundBar{
    display: none !important; 
}

.spinner{
    position: absolute;
    width: 64px;
    height: 64px;
    border: 5px solid var(--white);
    border-bottom: 5px solid #FFFFFF00;
    border-left: 5px solid #FFFFFF55;
    border-top: 5px solid #FFFFFFAA;
    border-right: 5px solid #FFFFFF;
    animation: rotate .5s linear infinite;
    border-radius: 100%;
    transform: 1s;
}

.spinner.hidden{
    display: none;
}


@media (max-width: 1024px){

}

@media (max-width: 768px){
    .streamWindow{
        margin-top: 36px;
        width: 95%;
        background: none;
        background-color: var(--lighthBlue);
    }
}

@media (max-width: 640px){

}

