.streamWindow{
    width: 75%;
    max-width: 1024px;
    background: linear-gradient(90deg, var(--purple), var(--lighthBlue));
    margin: 16px auto 56px auto;
    padding: 24px;
    z-index: 2;
    position: relative;
}

.streamWindow img{
    width: 100%;
    height: auto;
}



@media (max-width: 1024px){

}

@media (max-width: 768px){
    .streamWindow{
        width: 95%;
        background: none;
        background-color: var(--lighthBlue);
    }
}

@media (max-width: 640px){

}