*{
  font-family: 'Roboto', 'Segoe-UI', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --purple: #B67DEF;
  --lighthBlue: #4BC1EA;
  --pink: #FF90E8;
  --yellow: #FFF030;
  --green: #C4F300;
  --blue: #5148F7;
  --black: #242424;
  --lightBlack: #707070;
  --white: #FFFFFF;
  --lightGrey: #F6F6F6;
  --facebookColor: #4267b2;
  --instagramColor: #E1306C;
  --twitterColor: #1da1f2;
  --youtubeColor: #ff0000;
}