*{
  font-family: 'Roboto', 'Segoe-UI', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --purpleColor: #B67DEF;
  --lighthBlueColor: #4BC1EA;
  --pinkColor: #FF90E8;
  --yellowColor: #FFF030;
  --greenColor: #C4F300;
  --blueColor: #5148F7;
  --black: #242424;
  --lightBlack: #707070;
  --white: #FFFFFF;
  --facebookColor: #4267b2;
  --instagramColor: #E1306C;
  --twitterColor: #1da1f2;
  --youtubeColor: #ff0000;
}